{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
<div id="posts">

</div>
{% for posts in post %}
    <h3>{{ post.text }}</h3>
{% endfor %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="postModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="postModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="postText">
        <input type="file" id="postImage">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="postSave">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="/static/js/post-create.js"></script>
{% endblock %}
